<div class="container" data-ng-controller="HeaderController" style="width: 100%; background-color: #ffffff">
	<div class="navbar-header">
		<!--<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">-->
			<!--<span class="sr-only">Toggle navigation</span>-->
			<!--<span class="icon-bar"></span>-->
			<!--<span class="icon-bar"></span>-->
			<!--<span class="icon-bar"></span>-->
		<!--</button>-->
		<a href="#" class="navbar-brand" style="background-color: deepskyblue; width: 200%; color: #000000; font-family: HelveticaNeue-Light" ng-click="shouldRedirectToHome()">Agile</a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
			<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
				<a ng-switch-when="dropdown" class="dropdown-toggle">
					<span data-ng-bind="item.title"></span>
					<b class="caret"></b>
				</a>
				<ul ng-switch-when="dropdown" class="dropdown-menu">
					<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
						<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
					</li>
				</ul>
				<a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span data-ng-bind="authentication.user.displayName" style="color: darkblue"></span> <b class="caret" style="color: darkblue"></b>
				</a>
				<ul class="dropdown-menu">
                    <li>
                        <a class="mpkNew" title="New Kanban board" ng-click="kanbanMenu.openNewKanban()"><i class="glyphicon glyphicon-briefcase"></i> New</a>
                    </li>
					<li>
						<a href="/#!/settings/profile">Edit Profile</a>
					</li>
					<li>
						<a href="/#!/settings/accounts">Manage Social Accounts</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
                <!--<ul class="dropdown">-->
                    <!--<li>-->
                        <!--<a class="dropdown-toggle" data-toggle="dropdown">Projects <span class="caret"></span></a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a class="mpkNew" title="New Kanban board" ng-click="kanbanMenu.openNewKanban()"><i class="glyphicon glyphicon-briefcase"></i> New</a>-->
                            <!--</li>-->
                            <!--<li><a title="Delete Kanban from local storage" ng-click="kanbanMenu.delete()"><i class="glyphicon glyphicon-remove-sign"></i> Delete</a></li>-->
                            <!--<li role="presentation" class="divider"></li>-->
                            <!--<li><a title="Help" ng-click="showHelp=true" href=""><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                <!--</ul>-->
			</li>
		</ul>
	</nav>
</div>
