<div class="container-fluid" id="kanban" ng-controller="KanbanController">
        <div id="columns">
            <div style="width:{{columnWidth}}%;display: inline-block;" ng-repeat="column in kanban.columns" data-columnindex="{{$index}}" id="column{{$index}}">
                <div class="column" style="background-color: {{column.settings.color}}">
                    <div class="columnHeader">
                        <a title="Column settings" ng-click="columnSettings(kanban, column)" ng-model="column" ng-hide="editing"><i class="glyphicon glyphicon-wrench"></i></a>
                        <a title="Add card to column" class="pull-right" ng-click="addNewCard(column)" ng-hide="columnLimitsReached(column)"><i class="glyphicon glyphicon-plus"></i></a>
                        <span>{{column.name}} ({{columnLimitsTextFor(column)}})</span>
                    </div>
                    <ul ng-class="sortableClassFor(column)" ui-sortable="{connectWith: '#kanban ul.cards'}" ng-model="column.cards" style="min-height:{{columnHeight}}px;max-height:{{columnHeight}}px;">
                        <li class="card" ng-repeat="card in column.cards" style="background-color: #{{colorFor(card)}};">
                            <a class="pull-right" ng-click="delete(card, column)"><i class="glyphicon glyphicon-remove"></i></a>
                            <a class="pull-right" title="Archive" ng-click="archive(kanban, column, card)" ng-show="isLastColumn(column.name, kanban)"><i class="glyphicon glyphicon-folder-close"></i></a>
                            <a ng-click="openCardDetails(card)"><span>{{card.name}}</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-controller="ColumnSettingsController">
            <mpk-modal title="Column settings" visible="showColumnSettings">
                <form  class="noMargin" name="columnSettings" ng-submit="update()">
                    <div class="form-group">
                        <label class="control-label" for="columnName">Column name</label>
                        <div class="controls">
                            <div>
                                <input name="columnName" type="text" id="columnName" placeholder="Title on a card" ng-model="model.columnName" required class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="columnColor">Column color</label>
                        <div class="controls">
                            <div>
                                <div class="col-md-3" style="padding-left: 0px;">
                                    <input type="text" name="colorHex" value="Theme Default" class="form-control" ng-model="model.color"/>
                                </div>
                                <spectrum-colorpicker ng-model="model.color" options="{allowEmpty: true}" format="'hex'">
                                </spectrum-colorpicker>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="columnLimit">Card limit for this column</label>
                        <div class="controls row">
                            <div class="col-md-2">
                                <input name="columnLimit" type="number" ng-model="model.limit" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <button type="button" class="btn btn-sm btn-success" ng-click="addColumn('left')"><i class="glyphicon glyphicon-arrow-left"></i> Add column to the left</button>
                        <button type="button" class="btn btn-sm btn-success pull-right" ng-click="addColumn('right')">Add column to the right <i class="glyphicon glyphicon-arrow-right"></i></button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-left" ng-hide="model.showWarning" ng-click="delete()">Delete column</button>
                        <button type="button" class="btn btn-danger pull-left" ng-show="model.showWarning" ng-click="delete()" ng-disabled="model.deleteDisabled">Click again to delete this column <i class="glyphicon glyphicon-exclamation-sign"></i></button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </mpk-modal>
        </div>
        <div ng-controller="NewKanbanCardController">
            <mpk-modal title="New card for column '{{kanbanColumnName}}'" visible="showNewCard">
                <form class="noMargin" name="newCardForm" ng-submit="addNewCard(newCard)">
                    <div class="form-group">
                        <label class="control-label" for="newCardTitle">Kanban card title</label>
                        <div>
                            <input type="text" id="newCardTitle" placeholder="Title on a card" ng-model="newCard.title" required focus-me class="cardInputs form-control" name="cardTitle"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="newCardDetails">More details <small>(optional)</small></label>
                        <div>
                <textarea id="newCardDetails" ng-model="newCard.details" class="cardInputs form-control" rows="7">
                </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Card color</label>
                    </div>
                    <div class="form-group">
                        <color-selector options="colorOptions" ng-model="newCard.cardColor" prefix="newCardColor" class="colorSelector" show-hex-code="true"/>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </mpk-modal>
        </div>

        <div ng-controller="CardController">
            <mpk-modal title="Card details" visible="showCardDetails">
                <form class="noMargin" name="cardDetails">
                    <div class="form-group">
                        <label class="control-label" for="cardTitle">Kanban card title</label>
                        <div class="controls">
                            <ng-form ng-submit="editingTitle = false">
                                <div class="input-group">
                                    <input name="cardTitle" type="text" id="cardTitle" placeholder="Title on a card" ng-model="card.name" required class="form-control" ng-disabled="!editingTitle" focus-me />
                  <span class="input-group-btn">
                    <a title="OK" class="btn btn-default" ng-click="editingTitle = false" ng-hide="!editingTitle"><i class="glyphicon glyphicon-ok"></i></a>
                    <a title="Edit card title" class="btn btn-default" ng-click="editingTitle = true" ng-hide="editingTitle"><i class="glyphicon glyphicon-pencil"></i></a>
                  </span>
                            </ng-form>
                        </div>
                    </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="cardTitle">Details</label>

            <div class="controls">
                <div class="input-group">
                    <div class="form-control cardDetails cardInputs" ng-show="!editingDetails" ng-bind-html="card.details|linky|cardDetails"></div>
                    <textarea id="details" ng-model="card.details" class="cardInputs form-control" rows="7" ng-show="editingDetails"></textarea>
                    <span class="input-group-btn">
                      <a title="OK" ng-click="editingDetails = false" ng-hide="!editingDetails" class="btn btn-default"><i class="glyphicon glyphicon-ok"></i></a>
                      <a title="Edit card details" ng-click="editingDetails = true" ng-hide="editingDetails" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Card color</label>
        </div>
        <div class="form-group">
            <color-selector options="colorOptions" ng-model="card.color" prefix="editCardColor" class="colorSelector" show-hex-code="true" />
        </div>
        </form>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </mpk-modal>
    </div>
    </div>

    <div ng-controller="NewKanbanController">
        <mpk-modal title="New Kanban board" visible="showNewKanban">
            <form class="noMargin" name="newKanbanForm">
                <div class="form-group">
                    <label class="control-label" for="kanbanNameFormField">Kanban name</label>
                    <div>
                        <input type="text" id="kanbanNameFormField" placeholder="Kanban name" class="form-control" ng-model="model.kanbanName" required focus-me />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="numberOfColumnsField">Number of columns</label>
                    <div>
                        <select id="numberOfColumnsField" ng-model="model.numberOfColumns" class="form-control" ng-options="number for number in [2,3,4,5,6,7,8,9]">
                        </select>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label for="fromTemplate">Use existing Kanban as template</label>
                    <div>
                        <select id="fromTemplate" name="fromTemplate" ng-model="model.useTemplate" ng-options="name for name in model.kanbanNames" class="form-control">
                            <option>Existing kanbans ...</option>
                        </select>
                    </div>
                </div>
                <div class="alert alert-info">
                    <p>When using existing Kanban as template, <strong>number of columns</strong> and respective <strong>names</strong> will be used.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" ng-click="createNew()">Create new</button>
                </div>
            </form>
        </mpk-modal>
    </div>

    <!-- THIS IS THE HELP -->
    <mpk-modal title="Help" visible="showHelp" modal-style="width:90%">
        <p><span class="version">My Personal Kanban Version: @version@</span> from <a href="http://greggigon.github.io/my-personal-kanban/" target="blank">http://greggigon.github.io/my-personal-kanban/</a></p>
        <p>
            <strong>Personal Kanban</strong><br />
            <small>You can create <strong>new Kanban</strong> by selecting <strong>Kanban -> New</strong> from the Kanban menu. You can give it a name and select number of columns. You can also choose existing Kanban as a template for the new one.<br/>
                Once Kanban is created you can <strong>rename</strong> it by <strong>clicking it's title</strong> in the top bar. You can add new cards to the columns by pressing <strong>&plus;</strong> in the top right of the column. <br />
                You can give each <strong>column name</strong> and change it's colour by selecting <strong>Column settings icon</strong> next to it's name. <strong>(Number)</strong> next to column name indicates number of cards in the column.<br /><br />
                <strong>Cards are created</strong> with <strong>title</strong> and possible longer <strong>description</strong>. You can also <strong>select different colour</strong> for the card if you would like to categorize them somehow. Description will <strong>keep the new line formating</strong> and add <strong>clickable links</strong> if you include any. <br />
                You can <strong>open Card details</strong> by clicking on <strong>card title</strong>.You can <strong>edit Card details</strong> once opened.<br />
                You can <strong>drag card between columns</strong> and move them <strong>up and down</strong> column list.<br /><br />
                You can have <strong>multiple Kanbans</strong> and open/switch them from the <strong>Switch to ...</strong> dropdown, next to <strong>Cloud Menu</strong>. <br />
                You can <strong>select different style</strong> of Kanban board from <strong>Kanban -> Theme</strong> menu.<br />
                You can <strong>delete</strong> entire Kanban by selecting <strong>Kanban -> Delete</strong> from the menu.<br />
                Your Kanbans are automatically <strong>saved</strong> in your <strong>browser storage</strong>. <br /><br />
                If card is in the last colum you can Archive it. It will remove it from a Column but keep in Kanban. You can review
                your archived Cards via <strong>Kanban -> Archives</strong> menu. <br />
                You can also un-archive cards from Archive and permamently remove them.<br /><br />
                You can <strong>Export</strong> one or all Kanbans by selecting <strong>Kanban -> Export</strong> menu.<br />
                You can <strong>Import</strong> Kanban(s) from a JSON file. <strong>Not that Kanban with existing name, same as imported one will be replaced with the content of the new one.</strong><br /><br />
            </small>
        </p>
        <p>
            <strong>Cloud</strong><br />
            <small>
                You can use <strong>My Personal Kanban Cloud</strong> service that enables <strong>Upload and Download</strong> from Cloud. This service is offered free of charge. <br />
                You will need to create your <strong>cloud Kanban key</strong>. Follow instructions on <strong>Cloud -> Setup</strong>.<br />
                Your Kanban in the Cloud <strong>is stored Encrypted</strong>, that's why you should setup <strong>Encryption Key</strong>. The Encryption algorithm is <a href="http://en.wikipedia.org/wiki/Rabbit_(cipher)" target="blank" title="Rabbit encryption algorithm">Rabbit</a>.<br />
                You can <strong>upload Kanban</strong> by selecting <strong>Cloud -> Upload</strong> from the menu <br />.
                You can <strong>download Kanban</strong> by selecting <strong>Cloud -> Download</strong> from the menu. <br /><br />
                You can also use your own Local Cloud. There is server implementation provided at: <a href="https://github.com/greggigon/my-personal-kanban-server" target="blank">https://github.com/greggigon/my-personal-kanban-server</a>. Just select the option and provide URL for the Local Cloud service <strong>Cloud -> Setup -> Use own Local Cloud</strong>.
            </small>
        </p>
    </mpk-modal>

