    <div ng-controller="NewKanbanController">
        <mpk-modal title="New Kanban board" visible="showNewKanban">
            <form class="noMargin" name="newKanbanForm">
                <div class="form-group">
                    <label class="control-label" for="kanbanNameFormField">Kanban name</label>
                    <div>
                        <input type="text" id="kanbanNameFormField" placeholder="Kanban name" class="form-control" ng-model="model.kanbanName" required focus-me />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="numberOfColumnsField">Number of columns</label>
                    <div>
                        <select id="numberOfColumnsField" ng-model="model.numberOfColumns" class="form-control" ng-options="number for number in [2,3,4,5,6,7,8,9]">
                        </select>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label for="fromTemplate">Use existing Kanban as template</label>
                    <div>
                        <select id="fromTemplate" name="fromTemplate" ng-model="model.useTemplate" ng-options="name for name in model.kanbanNames" class="form-control">
                            <option>Existing kanbans ...</option>
                        </select>
                    </div>
                </div>
                <div class="alert alert-info">
                    <p>When using existing Kanban as template, <strong>number of columns</strong> and respective <strong>names</strong> will be used.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" ng-click="createNew()">Create new</button>
                </div>
            </form>
        </mpk-modal>
    </div>
